<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114203957369-hn6f2snuqlo53aergvnlj61r522uvu8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114203957369-hn6f2snuqlo53aergvnlj61r522uvu8i</string>
	<key>API_KEY</key>
	<string>AIzaSyD48Qo2gKHjiMAFPpaGpWSakkUDP_DsCSA</string>
	<key>GCM_SENDER_ID</key>
	<string>114203957369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.imgkl.rude</string>
	<key>PROJECT_ID</key>
	<string>rude-bd158</string>
	<key>STORAGE_BUCKET</key>
	<string>rude-bd158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114203957369:ios:1667e2edac091fb26adca8</string>
	<key>DATABASE_URL</key>
	<string>https://rude-bd158.firebaseio.com</string>
</dict>
</plist>